<ion-header>
  <ion-toolbar>
    <ion-title>Foto + Ubicación GPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--Foto+ubi -->

  <ion-button expand="block" (click)="tomarFotoGeo()">Tomar foto + ubicación</ion-button>

  <ion-card *ngIf="fotoGeo()">
    <ion-card-content>
      <img [src]="fotoGeo()?.imageWebPath" *ngIf="fotoGeo()?.imageWebPath" />
      <p><strong>Latitud:</strong> {{ fotoGeo()?.lat }}</p>
      <p><strong>Longitud:</strong> {{ fotoGeo()?.lng }}</p>
      <p><a [href]="fotoGeo()?.linkMapa" target="_blank">Ver en Google Maps</a></p>
      <p>Archivo guardado: {{ fotoGeo()?.nombreArchivo }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>